<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corona.mapper.GenAgeInfoMapper">
    <insert id="insertGenAgeInfo">
        INSERT INTO corona_info.gen_age_info
        (confCase, confCaseRate, createDt, criticalRate, death, deathRate, gubun)
        VALUES(#{confCase}, #{confCaseRate}, #{createDt}, #{criticalRate}, #{death}, #{deathRate}, #{gubun});
    </insert>
    <select id="selectAgeInfoByDate" resultType="com.corona.vo.GenAgeInfoVO">
        select * from gen_age_info where gubun != '여성' and gubun != '남성' and createDt >= #{date} order by createDt desc;
    </select>
    <select id="selectGenInfoByDate" resultType="com.corona.vo.GenAgeInfoVO">
        select * from gen_age_info where createDt >= #{date} and (gubun = '여성' or gubun = '남성') order by createDt desc;
    </select>
</mapper>